{% if settings.featured_blog_home_thumbnails_enabled %}
  {% if post.image_url is not empty and post.image_url is defined %}
    {% set image_exists = true %}
    {% set image_url = post.image_url ~ '?w=600&h=480' %}
  {% else %}
    {% set image_exists = true %}
    {% set image_url = 'default/placeholder.svg' | asset_url %}
  {% endif %}
{% else %}
  {% set image_exists = false %}
  {% set image_url = 'default/placeholder.svg' | asset_url %}
{% endif %}

{% if side is not defined %}
  {% set side = "left" %}
{% endif %}

<div class="blog-card">
  <div class="row">
  {% if side == 'left' %}

  {% if image_exists %}
  <div class="col-sm-6">
    <a class="blog__item__img__link" href="/blogs/{{ featured_blog.permalink }}/posts/{{ post.permalink }}">
        <img src="{{ image_url }} " alt="{{ post.name | escape }}" class="blog-card__img">
    </a>
  </div>
  {% endif %}
  <div class="{% if image_exists %}col-sm-6{% else %}col-sm-12 col-md-8 col-md-offset-2{% endif %}">
    <h3 class="section-heading"><a href="/blogs/{{ featured_blog.permalink }}/posts/{{ post.permalink }}">{{ post.title }}</a></h3>
    <p class="blog__item__excerpt">{{ post.summary }}</p>
    <br/>
    <a href="/blogs/{{ featured_blog.permalink }}/posts/{{ post.permalink }}" class="btn btn--outline">Leer más</a>
  </div>
  {% else %}
  {% if image_exists %}
  <div class="col-sm-6 col-sm-push-6">
    <a class="blog__item__img__link" href="/blogs/{{ featured_blog.permalink }}/posts/{{ post.permalink }}">
      <a class="blog__item__img__link" href="/blogs/{{ featured_blog.permalink }}/posts/{{ post.permalink }}">
          <img src="{{ image_url }} " alt="{{ post.name | escape }}" class="blog-card__img">
      </a>
    </a>
  </div>
  {% endif %}
  <div class="{% if image_exists %}col-sm-6 col-sm-pull-6{% else %}col-sm-12 col-md-8 col-md-offset-2{% endif %}">
    <h3 class="section-heading"><a href="/blogs/{{ featured_blog.permalink }}/posts/{{ post.permalink }}">{{ post.title }}</a></h3>
    <p class="blog__item__excerpt">{{ post.summary }}</p>
    <br/>
    <a href="/blogs/{{ featured_blog.permalink }}/posts/{{ post.permalink }}" class="btn btn--outline">Leer más</a>
  </div>
  {% endif %}
  </div>
</div>
