<div class="blog-grid-item">
  {% if post.image_url is not null %}
  <a class="blog-grid-item__thumb-link grid-item__thumb-image" href="/blogs/{{ blog.permalink }}/posts/{{ post.permalink }}" style="background-image: url('{{ post.image_url }}&w=450&h=380&fit=crop');"></a>
  {% else %}
  <a class="blog-grid-item__thumb-link grid-item__thumb-no-image" href="/blogs/{{ blog.permalink }}/posts/{{ post.permalink }}"></a>
  {% endif %}

  <h3 class="c-brand">
    <a href="/blogs/{{ blog.permalink }}/posts/{{ post.permalink }}">{{ post.title | title }}</a>
  </h3>

  {% if post.summary %}
  <p class="blog-grid-item__summary">{{ post.summary | truncate_words(20) }}</p>
  {% else %}
  <p class="blog-grid-item__summary">{{ post.content | truncate_words(20)}}</p>
  {% endif %}
  <a class="btn btn--outline" href="/blogs/{{ blog.permalink }}/posts/{{ post.permalink }}" class="blog-read-more">Leer más</a>
</div>
