{% if settings.main_banner_background is not empty %}
  {% set bg_placeholder = settings.main_banner_background %}
{% endif %}

{% if settings.main_banner %}
<div class="main-banner pad">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="main-banner__info" style="background-image: url( {{ bg_placeholder }} );">
          <div class="table">
            <div class="cell">
              <div class="row">
                <div class="col-md-4 col-sm-6 {% if settings.main_banner_desc_align == 'right' %} col-md-offset-8 col-sm-offset-6 {% endif %}">
                  <h2 class="c-brand upper main_banner_title_color">{{ settings.main_banner_title}}</h2>
                  <p class="main_banner_desc_color">{{ settings.main_banner_desc }}</p>
                  {% if settings.main_banner_btn %}
                  <br/>
                  <a href="{{ settings.main_banner_btn_url }}" class="btn">{{ settings.main_banner_btn_text }}</a>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}
