{% if product.image_url is not empty and product.image_url is defined %}


    {% set image_url = product.image_url ~ '?w=600&h=600' %}

{% else %}

    {% set image_url = 'default/placeholder.svg' | asset_url %}

{% endif %}


{% if col_img is not defined %}

    {% set col_img = "col-sm-6" %}

{% endif %}

{% if col_desc is not defined %}

    {% set col_desc = "col-sm-6" %}

{% endif %}

{% if index is not defined %}

    {% set index = 1 %}

{% endif %}

<div class="product-card">

    <div class="row">

        <div class="{{ col_img }}">

            <a href="/productos/{{ product.permalink }}">

                <img class="product-card__img" src="{{ image_url }}" alt="{{ product.name }}">

            </a>

        </div>

        <div class="{{ col_desc }}">

            <div class="product-price-data">

              <h3 class="product-card-data__title">{{ product.name }}</h3>

              {% if product.sku.compared_price > 0 %}

              <p class="product-price-data__text">Ahorra <span class="cross-text product-price__discount">{{ product.sku.compared_price | money('symbol', 'code') }}</span>
                <span class="product-price-data-price">{{ product.sku.price | money('symbol', 'code') }}</span></p>

              {% else %}

              <p class="product-price-data__text"><span class="product-price-data-price">{{ product.sku.price | money('symbol', 'code') }}</span></p>

              {% endif %}

              <p class="product-features">Características</p>
              <p>{{ product.excerpt}}</p>

              <br/>

              <a class="btn" href="/productos/{{ product.permalink }}">Ver más</a>

            </div>

        </div>

    </div>

</div>


<script>

    {% if product.is_in_stock %}

        var skus = '{{ product.excerpt }}';

    {% else %}

        window.onload = function(event){

            $('.buy-now.product-{{ index }}').html('Agotado').addClass('disabled').before('<br/>');
            $('.hide-product-{{ index }}').hide();

        }

    {% endif %}

</script>


