<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js ie6 oldie" lang="en"><![endif]-->
<!--[if IE 7]><html class="no-js ie7 oldie" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js ie8 oldie" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>
  <meta charset="utf-8">
  <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1' /><![endif]-->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% if settings.use_favicon %}
  <link rel="shortcut icon" href="{{ settings.favicon }}" type="image/png" />
  {% endif %}

  <title>{{ page_title }}{% if current_page != 1 %} | Página {{ current_page }}{% endif %}{% if store.name not in page_title %} | {{ store.name }}{% endif %}</title>

  {% if page_description %}
  <meta name="description" content="{{ page_description }}"/>
  {% endif %}

  {% include '_og-meta-tags.twig' %}

  <link rel="canonical" href="{{ canonical_url }}" />

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css">
  <link rel="stylesheet" href="{{ 'style.css' | asset_url }}" media="screen">

  {% include '_google-fonts.twig' %}

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js" charset="utf-8"></script>
  <script src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>

  {{ head_content }}

</head>
<body role="document">

  <div class="general-container">
    {% include "_nav.twig" %}
    {% include "_notifications.twig" %}
    {% block body %}{% endblock %}
  </div>
  <footer>
    {% include "_footer.twig" %}
  </footer>

  {% block body_js %}
  <script type="text/javascript" src="{{ 'app.js' | asset_url }}"></script>
  {% endblock %}
</body>
</html>
