{% extends 'layout.twig' %}

{% if settings.featured_blog_thumbnails_enabled %}
  {% set thumbnails = true %}
{% else %}
  {% set thumbnails = false %}
{% endif %}

{% block body %}
<div class="blog">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <div class="pad">
          <h2 class="c-brand upper">{{ blog.title }}</h2>
          <p>{{ blog.meta_description }}</p>
        </div>
      </div>
    </div>

    {% if posts|length > 0 %}

    {% for post in posts %}
    <div class="row post">
      {% if thumbnails %}
      <div class="col-sm-4">
        <a class="blog__img__link" href="/blogs/{{ blog.permalink }}/posts/{{ post.permalink }}">
          {% if post.image_url is not empty and post.image_url is defined %}
          <img src="{{ post.image_url }}?w=1180&h=500&fit=crop" alt="{{ post.name | escape }}" class="img-responsive">
          {% else %}
          <img style="opacity:.1;" src="{{ 'default/placeholder.svg' | asset_url }}" alt="{{ post.name | escape }}" class="img-responsive">
          {% endif %}
        </a>
      </div>
    {% endif %}

      <div class="{% if thumbnails %}col-sm-8{% else %} col-sm-8 col-sm-offset-2{% endif %}">
        <h4 class="c-brand">
          <a href="/blogs/{{ blog.permalink }}/posts/{{ post.permalink }}">{{ post.title }}</a>
        </h4>
        <p>{{ post.summary }}</p>
        <br/>
        <a class="btn btn--outline" href="/blogs/{{ blog.permalink }}/posts/{{ post.permalink }}">Leer más</a>
      </div>

      {% if loop.index % 1 == 0 %}
      <br style="clear: both;">
      {% endif %}
    </div>
    {% endfor %}
    <br/>
    <br/>
    <div class="row text-center">
      {% include '_pagination.twig' %}
    </div>
    {% endif %}

  </div>
</div>

{% endblock %}
