{% extends 'layout.twig' %}

{% block body %}
<div class="blog">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 c-brand-h">
        <h1 class="c-brand upper">{{ blog.title }}</h1>
      </div>
    </div>
    {% if posts | length > 0 %}

    {% set has_thumbnail = settings.featured_blog_thumbnails_enabled %}

    {% for post in posts %}
    <div class="row post">
      {% if has_thumbnail %}
      <div class="col-sm-5">
        <a class="blog__img__link" href="/blogs/{{ blog.permalink }}/posts/{{ post.permalink }}">
          {% if post.image_url is not empty and post.image_url is defined %}
          <img src="{{ post.image_url }}?w=450&h=450" alt="{{ post.name | escape }}" class="img-responsive">
          {% else %}
          <img src="{{ 'placeholders/product-11.jpg' | global_img_url }}" alt="{{ post.name | escape }}" class="img-responsive">
          {% endif %}
        </a>
      </div>
      {% endif %}
      <div class="{% if has_thumbnail %}col-sm-7{% else %}col-sm-7 col-sm-offset-1{% endif %}">
        <h3 class="c-brand">
          <a href="/blogs/{{ blog.permalink }}/posts/{{ post.permalink }}">{{ post.title }}</a>
        </h3>
        <div class="post__summary">
          {{ (post.summary is not empty ? post.summary : post.content) | truncate_words(70) }}
        </div>
        <a class="btn btn--outline" href="/blogs/{{ blog.permalink }}/posts/{{ post.permalink }}">Leer más</a>
      </div>
    </div>
    {% endfor %}

    {% include '_pagination.twig' %}

    {% endif %}
  </div>
</div>
{% endblock %}
