{% extends 'layout.twig' %}

{% block body %}
<div class="contact">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 c-brand-h">
        <h1 class="c-brand upper">{{ settings.contact_title }}</h1>
        <p>{{ settings.contact_description }}</p>
      </div>
    </div>

    {% if settings.map_is_enabled %}
    <div class="row">
      <div class="col-sm-12 text-center map">
        <div id="map" class="contact__map"></div>
        <a href="#" class="center-map btn btn--outline">
          <i class="fa fa-compass"></i>
        </a>
      </div>
    </div>
    {% endif %}

    <div class="row">
      <div class="col-sm-12">
        <div class="placeholder-help">
          <div class="placeholder-helper">
            <div class="placeholder-info">
              <p>Ocurrió un error con la configuración del mapa, por favor verifica la dirección o la llave de acceso.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row pad">
      <div class="col-sm-12 text-center">
        <h2 class="c-brand upper">{{ settings.contact_form_title }}</h2>
        <p>{{ settings.contact_form_description }}</p>
      </div>
    </div>

    {% set has_content = page.content is not empty %}

    <div class="row">
      {% if has_content %}
      <div class="col-sm-6">
        {{ page.content }}
      </div>
      {% endif %}
      <div class="{% if has_content %}col-sm-6{% else %}col-sm-12{% endif %}">
        {% if errors is not empty %}
        <div class="alert alert-danger fade in">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          {% for message in errors %}
          <div>{{ message }}</div>
          {% endfor %}
        </div>
        {% endif %}

        {% if success is not empty %}
        <div class="alert alert-success fade in">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          {% for message in success %}
          <div>{{ message }}</div>
          {% endfor %}
        </div>
        {% endif %}

        {% form 'contact' %}
        <input type="text" id="name" name="name" placeholder="Nombre">
        <input type="email" id="email" name="email" placeholder="Correo electrónico">
        <input type="tel" id="phone" name="phone" placeholder="Teléfono">
        <textarea id="mensaje" name="mensaje" placeholder="Mensaje"></textarea>
        <button type="submit" class="btn btn--outline">Enviar</button>
        {% endform %}
      </div>
    </div>

  </div>
</div>
{% endblock %}

{% block body_js %}
{{ parent() }}
{% if settings.map_is_enabled %}
<script>
  var map;
  var address = "{{ settings.map_address }}";
  var map_zoom = {{ settings.map_zoom }}
  function initMap() {
    var geocoder = new google.maps.Geocoder();
    function codeAddress(address) {
     geocoder.geocode( { 'address': address}, function(results, status) {
       if (status === google.maps.GeocoderStatus.OK) {
         var p_lat = (results[0].geometry.location.lat());
         var p_long = (results[0].geometry.location.lng());

         console.log(p_lat +'='+p_long);

         map = new google.maps.Map(document.getElementById('map'), {
          center: { lat: p_lat, lng: p_long },
          zoom: map_zoom,
          disableDefaultUI: true
        });

         $('.center-map').on('click', function(event) {
          event.preventDefault();
          map.setCenter({ lat: p_lat, lng: p_long });
        });

         {% if settings.map_marker %}
         var marker = new google.maps.Marker({
          map: map,
          position: { lat: p_lat, lng: p_long },
          draggable: true,
          title: '{{ store_name }}'
        });

         {% endif %}
       } else {
        $('.contact__map').hide();
        $('.placeholder-help').show();
      }
    });
   }
   codeAddress(address);
 }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key={{ settings.map_api_key }}&signed_in=true&callback=initMap"
async defer></script>
{% endif %}

{% endblock %}
