{% extends 'layout.twig' %}

{% block main_title %}
  {{ post.title }}
{% endblock main_title %}

{% block body %}
<div class="post">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
          <div class="pad text-center">
            <h1>{{ post.title }}</h1>
          </div>
         <div class="post__social-share text-center">
          <ul>
          {% if settings.facebook_link is not empty %}
            <li>
              <a href="http://www.facebook.com/share.php?u={{ canonical_url }}&title={{ post.title }}" target="_blank">
                <img src="{{ 'social/facebook.svg'| asset_url }}" alt="Facebook">
              </a>
            </li>
          {% endif %}
          {% if settings.twitter_link is not empty %}
            <li>
              <a href="http://twitter.com/intent/tweet?status={{ post.title }}+{{ canonical_url }}" target="_blank">
                <img src="{{ 'social/twitter.svg'| asset_url }}" alt="Twitter">
              </a>
            </li>
          {% endif %}
          {% if settings.pinterest_link is not empty %}
            <li>
              <a href="http://pinterest.com/pin/create/bookmarklet/?media={{ post.image_url }}&url={{ canonical_url }}&is_video=false&description={{ post.title }}" target="_blank">
                <img src="{{ 'social/pinterest.svg'| asset_url }}" alt="Pinterest">
              </a>
            </li>
          {% endif %}
          {% if settings.google_link is not empty %}
            <li>
              <a href="https://plus.google.com/share?url={{ canonical_url }}" target="_blank">
                <img src="{{ 'social/googleplus.svg'| asset_url }}" alt="G+">
              </a>
            </li>
          {% endif %}
          </ul>
        </div>
      </div>
        <div class="col-sm-12 text-center pad">
          {% if post.image_url is not empty and post.image_url is defined %}
            {% set image_exists = true %}
            {% set image_url = post.image_url ~ '?w=800&h=480' %}
          <img src="{{ image_url }} " alt="{{ post.name | escape }}" class="blog__img">
          {% endif %}
        </div>
        <div class="col-sm-12">
        {{ post.content }}
        </div>
        {% if tags | length > 0 %}
        <div class="col-sm-12 tags__list">
          <p class="bold">Tags</p>
          <ul>
          {% for tag in tags %}
          <li>
            <a class="tags__list-item-link" href="/blogs/{{ blog.permalink }}/tags/{{ tag.permalink }}">
              {{ tag.title }}
            </a>
          </li>
          {% endfor %}
          </ul>
        </div>
        {% endif %}

        {% set blog_featured = blogs[settings.featured_blog] %}
        {% if blog_featured.posts | length > 1 %}
          {% set rand_post_1 = random(blog_featured.posts) %}
         {% set rand_post_2 = random(blog_featured.posts) %}
        <div class="col-sm-12 prev-next-post">
          <a href="{{ rand_post_1.permalink }}"><span class="fa fa-chevron-left"></span></a>
          <a href="{{ rand_post_2.permalink }}"><span class="fa fa-chevron-right"></span></a>
        </div>
        {% endif %}
    </div>
  </div>
</div>
{% include "_newsletter.twig" with {'internal': true } %}
{% endblock body %}
